*.vs
*.iobj
*.ipdb
*.pdb
*.exe
Debug/*
*.lnk
*.ilk
*.zip
EmptyProg/Debug
EmptyProg/Release
EmptyProg/log.txt
Release/*.gz
Release/*.log
Release/log.txt
/EmptyProg/x64/Release/EmptyProg.tlog
/EmptyProg/x64/Release
/Game/x64/Release
/x64/Release
/Game/Debug
/Game/Release
